$color-blue: #8db5bb
$color-red: #c01822
$color-accent: $color-red

$heading-font-family: "Montserrat", sans-serif
$body-font-family: $heading-font-family
$h1-weight: 300

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(40)
$hero-background-color: none
$footer-background-color: $color-blue
$footer-logo-height: pxToRem(40)
$footer-logo-height-desktop: pxToRem(40)
